@import '../scss/variables.scss';

.app {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;

  &__window {
    background-color: $color-window-background;
    border-radius: 4px;
    flex-basis: 700px;
    box-shadow: 0 2px 4px $color-shadow;
    overflow: hidden;
  }

  &__window-content {
    padding: 20px 50px;
    color: $color-foreground;
  }

  &__icon-wrapper {
    text-align: center;
  }

  &__icon {
    font-size: 40px;
    margin: 0 0 15px;
  }

  &__files-summary {
    border-top: 1px solid $color-foreground;
    margin: 20px 0 0;
    padding: 20px;
  }

  @media all and (max-width: 740px) {
    margin: 0;

    &__window {
      flex-basis: 100%;
    }

    &__window-content {
      padding: 20px;
    }
  }
}
